<h1>02: zapis / odczyt danych w bazie NEDB</h1>
<div class="main">
<form method="GET" action="/addUser" class="addUser">
    <h2>Dane pojazdu:</h2>
    {{#each carAttributes}}
        <div class="addItem">
            <div class="label">{{label}}</div>
            <div class="checkbox"><input type="checkbox" name={{name}}></div>
            
        </div>
    {{/each}}

    <button type="submit" class="submit">Dodaj do Bazy</button>
</form>

<div>
<h2>Wszystkie pojazdy - edycja</h2>
<table>
    <tr>
        <th></th>
        {{#each carAttributes}}
            <th>{{label}}</th>
        {{/each}}
        <th></th>
        <th></th>
    </tr>
    {{#each db}}
        <tr>
            <td>{{@index}}</td>
            {{#if editID}}
                <form action="/handleEdit" method="get">
                    {{#each this}} 
                        {{#unless @last}}
                                {{#unless (keynameIsID @key)}}
                                    <td>
                                        <select name={{@key}}>
                                            <option value="TAK">TAK</option>
                                            <option value="NIE">NIE</option>
                                            <option value="NIE">brak</option>
                                        </select>
                                    </td> 
                                {{/unless}}
                        {{/unless}}
                    {{/each}}
                    <td><button type="submit" value={{_id}} name="id" class="update">UPDATE</button></form></td>
                    <td><a href="/">CANCEL</a></td>
                </form>
            {{else}}
                {{#each this}} {{#unless @last}}{{#unless (keynameIsID @key)}}<td>{{this}}</td> {{/unless}}{{/unless}}{{/each}}
                
                <td><form action="/deleteUser" method="get"><button name="id" value={{_id}} class="delete" onclick="return confirm('czy usunąć?')">DELETE</button></form></td>
                <td><form action="/editUser" method="get"><button name="id" value={{_id}} class="edit">EDIT</button></form></td>
            {{/if}}
        </tr>
    {{/each}}
</table>
</div>
</div>